@mixin list-gradient(
  $element-list: 'li',
  $element-inner: '',
  $property: 'background-color',
  $color-from: #222,
  $color-to: #555,
  $count: 6
)
{
  $selector: $element-list;
  @for $i from 1 through $count {
    #{$selector} #{$element-inner} {
      $weight: 100 - (($i - 1) / ($count - 1)) * 100;
      border: $weight;
      #{$property}: mix($color-from, $color-to, $weight);
    }
    $selector: $selector + ' + ' + $element-list;
  }
}

/* Example:

nav li + li {
  background-color: #444;
}
nav li + li + li {
  background-color: #555;
}
nav li + li + li + li {
  background-color: #666;
}
nav li + li + li + li + li {
  background-color: #777;
}
nav li + li + li + li + li + li {
  background-color: #888;
}

*/
