.group-date {
  @include breakpoint($break-small) {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  font-style: italic;
  @include font-size(0.9);
}
.field-type-datetime .field-label {
  display: none;
}
.field-type-datetime {
  display: inline-block;
}
.field-name-field-to .field-item:before {
  content: "-";
  padding-right: 0.5em;
}
