
.block-views {
  margin-bottom: 2em;
}

.block-views h2 {
  margin-bottom: 0;
}

.block-views ul {
  margin-top: 0;
  margin-left: -1em;
}


$count: 4;
@for $i from 1 through $count {
  .views-row.views-row-#{$i} {
    background-color: mix($color-secondary, $color-bg, (($count - $i) / 10) * 100);
  }
}

.views-row {
  padding: 1em;
  @include prefer-print {
    padding-left: 0;
  }
  padding-bottom: 0;

  overflow: hidden;
  padding-bottom: 1.5em;

  @include prefer-screen {
    border-right: 0.5em solid $color-secondary;
  }
}

#block-dasjo-views-block-work {

}
