
.block-views {

}

.block-views h2 {
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.block-views ul {
  margin-top: 0;
  margin-left: -1em;
}


.views-row-1 {
  background-color: rgba(255, 184, 167, 0.6);
}
.views-row-2 {
  background-color: rgba(255, 184, 167, 0.5);
}
.views-row-3 {
  background-color: rgba(255, 184, 167, 0.3);
}
.views-row-4 {
  background-color: rgba(255, 184, 167, 0.1);
}

.views-row {
  padding: 0 1em;
  overflow: hidden;
  padding-bottom: 1.5em;

  border-right: 0.5em solid #EEAA99;
}

#block-dasjo-views-block-work {

}
