
.block-views {
  margin-bottom: 2em;
}

.block-views h2 {
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.block-views ul {
  margin-top: 0;
  margin-left: -1em;
}


.views-row.views-row-1 {
  background-color: rgba(255, 184, 167, 0.6);
}
.views-row.views-row-2 {
  background-color: rgba(255, 184, 167, 0.5);
}
.views-row.views-row-3 {
  background-color: rgba(255, 184, 167, 0.3);
}
.views-row.views-row-4 {
  background-color: rgba(255, 184, 167, 0.1);
}

.views-row {
  padding: 1em;
  @include prefer-print {
    padding-left: 0;
  }
  padding-bottom: 0;

  overflow: hidden;
  padding-bottom: 1.5em;

  @include prefer-screen {
    border-right: 0.5em solid $color-secondary;
  }
}

#block-dasjo-views-block-work {

}
