header[role=banner] {
  float: left;

  a {
    padding: 0.4em 0.8em;
    background: #111;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
  }
}

nav[role=navigation] {
  @include list-gradient;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
  }
  li a {
    display: inline-block;
    padding: 0.4em 0.8em;
    @extend %cut-edge;
  }

  li a, ul.links li.active a {
    color: white;
    text-decoration: none;
  }

}

header[role=banner], nav[role=navigation] {
  font-family: Quantico;
  text-transform: uppercase;

  a {
    border: none;
    &:hover, &:active, &:focus {
      text-decoration: underline;
      border: none;
    }
  }

  ul.links li.active a {
    text-decoration: underline;
  }
}



