header[role=banner] {
  float: left;

  a {
    padding: 0.4em 0.8em;
    @include prefer-print {
      padding-left: 0;
    }
    background: #111;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    @extend %cut-edge;
  }
}

[role=navigation] {
  @extend %button-menu;
}

header[role=banner], [role=navigation] {
  font-family: Quantico;
  text-transform: uppercase;

  a {
    border: none;
    &:hover, &:active, &:focus {
      text-decoration: underline;
      border: none;
    }
  }

  ul.links li.active a {
    text-decoration: underline;
  }
}

ul.menu a.active {
  color: white;
  text-decoration: underline;
}



