header[role=banner], nav {
  font-family: Quantico;
  text-transform: uppercase;
}

header[role=banner] {
  float: left;

  a {
    padding: 0.4em 0.8em;
    background: #111;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
  }
}


nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
}
nav li a {
  display: inline-block;
  padding: 0.4em 0.8em;
}
nav li a, nav ul.links li.active a {
  color: white;
  text-decoration: none;
}

nav ul.links li.active a, nav li a:hover, nav li a:active, nav li a:focus,
header[role=banner] a:hover, header[role=banner] a:active, header[role=banner] a:focus{
  text-decoration: underline;
}

nav {
  @include list-gradient;
}

nav li a {
  @extend %cut-edge;
}
