/* Variables */
/* Mixins */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_cut_edge\.scss}line{font-family:\000032}}
h2, nav li a, h1 {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_cut_edge\.scss}line{font-family:\000036}}
h2:before, nav li a:before, h1:before {
  content: '';
  position: absolute;
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_cut_edge\.scss}line{font-family:\0000314}}
h2:before, nav li a:before {
  top: 0;
  right: 0;
  border-top: 0.4em solid #f3deea;
  border-left: 0.5em solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_cut_edge\.scss}line{font-family:\0000322}}
h1:before {
  bottom: 0;
  right: 0;
  border-bottom: 0.4em solid #f3deea;
  border-left: 0.5em solid transparent;
}

/* Example:

nav li + li {
  background-color: #444;
}
nav li + li + li {
  background-color: #555;
}
nav li + li + li + li {
  background-color: #666;
}
nav li + li + li + li + li {
  background-color: #777;
}
nav li + li + li + li + li + li {
  background-color: #888;
}

*/
/* Base styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000331}}
h1, h2 {
  font-family: Quantico;
  /* Factor 16 expects HTML element to be set to 100% */
  font-size: 40.32px;
  font-size: 2.52rem;
  line-height: 60.48px;
  line-height: 3.78rem;
  margin-bottom: 1.5em;
  font-style: normal;
  padding: 0.4em;
  padding-top: 0.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000343}}
body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000349}}
html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000353}}
body {
  /* Factor 16 expects HTML element to be set to 100% */
  font-size: 22.4px;
  font-size: 1.4rem;
  line-height: 33.6px;
  line-height: 2.1rem;
  padding: 1em;
  background-color: #f3deea;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000361}}
p {
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 1.2em;
}

/* Headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000368}}
h1 {
  background-color: #bb66ee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000373}}
h2 {
  background-color: #eeaa99;
}

/* Elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000384}}
iframe, img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000388}}
li {
  list-style: square;
}

/* Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000394}}
main {
  margin-top: 3em;
}

@media (min-width: 26.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000398}}
  body {
    padding-left: 5%;
    padding-right: 15%;
  }
}
@media (min-width: 46.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\0000398}}
  body {
    padding-left: 10%;
    padding-right: 35%;
  }
}

@media (min-width: 46.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/screen\.scss}line{font-family:\00003111}}
  .block-views header, .node-work .content {
    padding-right: 4em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_content\.scss}line{font-family:\000031}}
.group-date {
  font-style: italic;
  /* Factor 16 expects HTML element to be set to 100% */
  font-size: 20.16px;
  font-size: 1.26rem;
  line-height: 30.24px;
  line-height: 1.89rem;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_content\.scss}line{font-family:\000038}}
.field-type-datetime .field-label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_content\.scss}line{font-family:\0000311}}
.field-type-datetime {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_content\.scss}line{font-family:\0000314}}
.field-name-field-to .field-item:before {
  content: "-";
  padding-right: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\000036}}
.block-views h2 {
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000312}}
.block-views ul {
  margin-top: 0;
  margin-left: -1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000318}}
.views-row-1 {
  background-color: rgba(255, 184, 167, 0.6);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000321}}
.views-row-2 {
  background-color: rgba(255, 184, 167, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000324}}
.views-row-3 {
  background-color: rgba(255, 184, 167, 0.3);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000327}}
.views-row-4 {
  background-color: rgba(255, 184, 167, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_listings\.scss}line{font-family:\0000331}}
.views-row {
  padding: 0 1em;
  overflow: hidden;
  padding-bottom: 1.5em;
  border-right: 0.5em solid #EEAA99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\000031}}
header[role=banner], nav {
  font-family: Quantico;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\000036}}
header[role=banner] {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\000039}}
header[role=banner] a {
  padding: 0.4em 0.8em;
  background: #111;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\0000320}}
nav ul {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\0000324}}
nav li {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\0000327}}
nav li a {
  display: inline-block;
  padding: 0.4em 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\0000331}}
nav li a, nav ul.links li.active a {
  color: white;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/components\/_menu\.scss}line{font-family:\0000336}}
nav ul.links li.active a, nav li a:hover, nav li a:active, nav li a:focus,
header[role=banner] a:hover, header[role=banner] a:active, header[role=banner] a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li {
  border: 100;
  background-color: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li + li {
  border: 80;
  background-color: #2c2c2c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li + li + li {
  border: 60;
  background-color: #363636;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li + li + li + li {
  border: 40;
  background-color: #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li + li + li + li + li {
  border: 20;
  background-color: #4a4a4a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/dasjo-8\/themes\/dasjo\/scss\/utility\/_list_gradient\.scss}line{font-family:\0000312}}
nav li + li + li + li + li + li {
  border: 0;
  background-color: #555555;
}

/*# sourceMappingURL=screen.css.map */