body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  padding: 1em;
  background-color: #F3DEEA;
}


@media only screen and (min-width: 26.5em) {
  body {
    padding-left: 5%;
    padding-right: 15%;
  }
}

@media only screen and (min-width: 46.5em) {
  body {
    padding-left: 10%;
    padding-right: 35%;
  }

  .block-views header, .node-work .content {
    padding-right: 4em;
  }
}

h1 {
  background-color: #BB66EE;
}

h2 {
  background-color: #EEAA99;
}

h1, h2 {
  color: white;
  font-weight: 400;
  font-size: 29px;
  line-height: 27px;
  margin-bottom: 27px;
  font-family: Quantico;
  font-style: normal;
  padding: 0.4em;
  padding-top: 0.5em;
  text-transform: uppercase;
}

p.intro {
  font-weight: 300;
  margin-bottom: 27px;
  font-size: 29px;
  border-top: 1px;
  border-bottom: 1px;
  padding: 30px;
  text-align: center;
  border-style: solid;
  margin-top: 27px;
  line-height: 39px;
}

p {
  font-size: 19px;
  line-height: 27px;
  color: rgba(51, 51, 51, 0.80);
  margin-bottom: 27px;
}

p.pullquote {
  padding-left: 10px;
  border-style: solid;
  border-left-width: 3px;
  color: #333333;
  font-weight: 700;
}

body {
  font-size: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

iframe, img {
  max-width: 100%;
}


.block-views {

}

.block-views h2 {
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}


.views-row-1 {
  background-color: rgba(255, 184, 167, 0.6);
}
.views-row-2 {
  background-color: rgba(255, 184, 167, 0.5);
}
.views-row-3 {
  background-color: rgba(255, 184, 167, 0.3);
}
.views-row-4 {
  background-color: rgba(255, 184, 167, 0.1);
}

.views-row {
  padding: 0 1em;
  overflow: hidden;
  padding-bottom: 1.5em;

  border-right: 0.5em solid #EEAA99;
}

#block-dasjo-views-block-work {

}

.group-date {
  font-style: italic;
  font-size: 0.9em;
  line-height: 0.9em;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
.field-type-datetime .field-label {
  display: none;
}
.field-type-datetime {
  display: inline-block;
}
.field-name-field-to .field-item:before {
  content: "-";
  padding-right: 0.5em;
}

.block-views ul {
  margin-top: 0;
  margin-left: -1em;
}

li {
  list-style: square;
  line-height: 1.6em;
}

header[role=banner] {
  float: left;
}

header[role=banner] a {
  padding: 0.5em 0.9em;
  background: #111;
  color: white;
  display: inline-block;
  text-decoration: none;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #333;
}
nav li a, nav ul.links li.active a {
  color: white;
  text-decoration: none;
}

nav ul.links li.active a, nav li a:hover, nav li a:active, nav li a:focus,
header[role=banner] a:hover, header[role=banner] a:active, header[role=banner] a:focus{
  text-decoration: underline;
}

nav li + li {
  background-color: #444;
}
nav li + li + li {
  background-color: #555;
}
nav li + li + li + li {
  background-color: #666;
}
nav li + li + li + li + li {
  background-color: #777;
}
nav li + li + li + li + li + li {
  background-color: #888;
}

main {
  margin-top: 3em;
}

