@import "breakpoint";


/* Variables */

$color-bg: #F3DEEA;
$color-primary: #BB66EE;
$color-secondary: #EEAA99;


$break-small: 26.5em;
$break-medium: 46.5em;

/* Mixins */

@import 'utility/_all.scss';

$base-font-size: 1.4;
$base-line-height: 1.5;

@mixin font-size($size: 1, $line: $size * $base-line-height, $base: $base-font-size) {
  /* Factor 16 expects HTML element to be set to 100% */
  font-size: ($base * $size * 16) + px;
  font-size: $base * $size + rem;
  line-height: ($base * $line * 16) + px;
  line-height: $base * $line + rem;
}

/* Base styles */

%font-heading {
  font-family: Quantico;
  @include font-size(1.8);
  margin-bottom: 1.5em;
  font-style: normal;
  padding: 0.4em;
  padding-top: 0.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

%font-normal {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 100%;
}

body {
  @extend %font-normal;
  @include font-size;

  padding: 1em;
  background-color: $color-bg;
}

p {
  color: rgba(51, 51, 51, 0.80);
  margin-bottom: 1.2em;
}

/* Headings */

h1 {
  background-color: $color-primary;
  @extend %cut-edge-bottom;
}

h2 {
  background-color: $color-secondary;
  @extend %cut-edge;
}

h1, h2 {
  @extend %font-heading;
}

/* Elements */

iframe, img {
  max-width: 100%;
}

li {
  list-style: square;
}

/* Layout */

main {
  margin-top: 3em;
}

body {
  @include breakpoint($break-small) {
    padding-left: 5%;
    padding-right: 15%;
  }

  @include breakpoint($break-medium) {
    padding-left: 10%;
    padding-right: 35%;
  }
}

@include breakpoint($break-medium) {
  .block-views header, .node-work .content {
    padding-right: 4em;
  }
}

@import 'components/_all.scss';

